@import 'colors'

.galary
    display: flex
    position: relative
    // width:  calc(100% - #{$menuWidth})
    height: calc(100% - #{$headerHeight})
    width:  100%
    // height: 100%
    // padding: 0px 88px
    // margin-top: $headerHeight
    // margin-left: $menuWidth
    font-size: 25px
    @media #{$media-phones}
        margin-left: 0
        width: 100%
    .moduleModuleWrapper
        padding: $gutter-m $gutter-side
        @media #{$media-phones}
            padding: 16px
        // .videoGallary

    .galaryScroller
        width: 100%
        height: 100%
        .galaryContainer
            width: 100%
            // padding: 0px 88px
            @media #{$media-phones}
                // padding: 0px 26px
            .photosContainer
                // padding: 26px 0px
                .photo
                    background: $colorText
                    height: 400px
                    overflow: hidden
                    box-sizing: border-box
                    @media #{$media-phones}
                        height: 300px
                    .photoHoverEffect
                        background: rgba(0,0,0,0.3)
                        position: relative
                        width: 100%
                        height: 100%
                        // border: 20px solid rgba(0,0,0,0)
                        transition: all .3s ease
                        z-index: 2
                        @media #{$media-phones}
                            background: none
                            border-radius: 0
                        &:hover
                            // border: 1px solid $primaryColor
                            background: rgba(0,0,0,0)
                            opacity: .2
                            // box-shadow: 0 0 20px 0 $primaryColor inset
                            // box-shadow: 0 0 40px 0 #000 inset
                    .image
                        position: absolute
                        margin-top: -400px
                        height: 400px
                        @media #{$media-phones}
                            margin-top: -300px
                            height: 300px
                        z-index: 1