@import 'colors'
@import 'custom'

.menu
    position: absolute
    display: flex
    flex-direction: column
    // justify-content: space-between
    min-height: 500px
    width: $menuWidth
    @media #{$media-phones}
        width: 100%
    height: 100%
    z-index: 1200
    background-color: $colorText !important

.logo
    @media #{$media-phones}
        display: none !important
    height: 100%

.head
    height: 100%

.controls
    height: 100%

.appBarCaption
    display: inline-flex
    margin-left: $menuWidth
    @media #{$media-phones}
        margin-left: 16px
    font-family: Poiret One
    font-size: 25px
    height: 80px
    line-height: 80px

.langContainer
    position: absolute
    bottom: 40px
    display: flex
    justify-content: center
    width: 100%
    .langBtn
        font-family: Poiret One
        font-size: 16px