@import 'colors'
@import 'custom'

.menu
    display: flex
    justify-content: space-between
    height: $header-h
    width: 100%

.logo
    @media #{$media-phones}
        display: none !important
    height: 100%

.head
    height: 100%

.controls
    height: 100%

.appBarCaption
    margin-left: 460px
    font-family: Poiret One
    font-size: 25px
    height: 80px
    line-height: 80px